
:root {
  --app-container: #fff;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #3F51B5;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: rgb(238, 238, 238);
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --button-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  --box-shadow:  0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  --button-bg: #1f1c24;

  --margin-bottom: 68px
}

.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover:  rgba(195, 207, 244, 0.1);
  --button-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  --message-btn: rgba(195, 207, 244, 0.1);
}


button, a {
    cursor: pointer;
}

p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: .9;
    margin: 0;
    color: var(--main-color);
}

